* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}

ul,
ol {
    list-style: none;
}

img {
    width: 100%;
}

.justify-content {
    justify-content: space-between;
}

.align-item {
    align-items: center;
}
header nav a{
    padding-left: 40px;
}
/* header section  */
header {
    padding-top: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

header nav a {
    color: darkblue;
}

header .logo img {
    width: 150px;
}
/* login signin page  */
.login-form {
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
    max-width: 400px;
}

.login-form h1 {
    font-size: 24px;
    margin-bottom: 10px;
    
}

.login-form h2 {
    color:darkblue;
    font-size: 18px;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:darkblue;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

.login-form button {
    background-color: darkblue;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

.login-form button:hover {
    background-color:rgba(0, 0, 139, 0.421);
}

.login-form h5 {
    margin-top: 20px;
    font-size: 14px;
}

.login-form a {
    color: darkblue;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

/* signup page  */
#form {
    text-align: center;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form input[type="text"],
#form input[type="email"],
#form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

#form label,h2{
    color: darkblue;

}
#form input[type="submit"] {
    background-color: darkblue;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

#form input[type="submit"]:hover {
    background-color: rgba(0, 0, 139, 0.371);
}

#form p {
    color: red;
    font-size: 12px;
    margin: 0;
}

#form p#n_err,
#form p#e_err,
#form p#p_err {
    text-align: center;
}

/* product page  */
#parent-box{
    display: flex;
}
#box1{
    border: 1px solid rgba(128, 128, 128, 0.314);
    width: 12%;
    height: 100vh;
}
#box2 div img{
    width: 200px;
    height: 200px;
}
#box2{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 88%;
    height: 100vh;
    overflow: scroll;
}
#box2 div {
    text-align: center;
    border: 1px solid rgba(128, 128, 128, 0.314);
    border-radius: 20px;
    padding: 20px;
}
#box2 div button{
    background-color:darkblue;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}
#box1 button{
    background-color:darkblue;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    display: block;
    margin: auto;
    margin-top: 20px;
    color: white;
}

/* cart pages  */


#cartpage div{
    padding: 20px;
}

#cartpage{
    display: block;
    width: 70%;
}

.maindiv{
   box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
    display: flex;
    position: relative;
}
#other{
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 139, 0.516);
    width: 40%;
}
.maindiv2{
    margin: 30px;
}
.maindiv2 label{
    padding-bottom: 20px;
}

#cartpage h3{
    width: 300px;
    font-size: 20px;
    font-family: 'Courgette', cursive;
    font-family: 'Signika Negative', sans-serif;
}
#cartpage img{
    width: 200px;
    height: 200px;
}

#cartpage button{
    padding: 5px 10px;
}
#cartpage span{
    padding: 5px 10px;
    border: 1px solid black;
}
#price{
    margin: 30px;
    font-family: 'Courgette', cursive;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    font-size: 20px;
}
.apply{
    margin: 10px;
    padding: 5px 30px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.438);
    font-family: 'Courgette', cursive;
    font-family: 'Signika Negative', sans-serif;

}

.promocode{
    padding: 5px 30px;

}
label {
    padding-right: 10px;
    font-family: 'Courgette', cursive;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    font-size: 20px;
}
.price1{
    font-size: 20px;
    position: absolute;
    right : -30px;
}
.code{
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
}

.texts{
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
}

.plusminse{
    position: absolute;
    right: 50px;
    top: 40%;
}

section{
    display: flex;
}

.disprice{
    color: white;
    font-family: 'Courgette', cursive;
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    margin-top: 30px;
}